<main class='main_wrap'>
    <h2><strong>Today</strong></h2>
    <h4>{{today}}</h4>
    <nav>
        <div>
            <button><a href="/expense/newExpense">Add a New Expense</a></button>
        </div>
    </nav>
    <section>
        <div></div>
    </section>
</main>