<main class="form-wrap container-fluid">
  <h2 class='title_login'>Log in</h2>
  {{> notification}}
  <form action="/user/login" method="post" class="needs-validation" novalidate>
    <div class="form-row">
      <div class="form-group row">
        <label for="form_email">Email</label>
        <input type="email" name="email" class="form-control" id="form_email"   placeholder="Email Address" value="{{user.email}}" required>
        <div class="valid-feedback">
          Good!
        </div>
        <div class="invalid-feedback">
          Invalid email address!
        </div>
      </div>
      <div class="form-group row">
        <label for="form_password">Password</label>
        <input type="password" name="password" class="form-control" id="form_password" value="{{user.password}}" pattern="^\S{8,12}$" placeholder="password" required>
        <div class="valid-feedback">
          Good!
        </div>
        <div class="invalid-feedback">
          Please provide a valid password!
        </div>
      </div>
    </div>
    </div>
    <div class="btn_group">
      <button class="btn_login btn-primary btn-sm btn-rounded" type="submit">Log in</button>
      <a class='btn_fb btn-primary btn-sm btn-rounded' href="/auth/facebook"><span class="iconify" data-icon="fa:facebook" data-inline="false"></span></a>
    </div>
  </form>
  <div class="form_aside">
    <aside><span>Do not have a account? </span><a href="/user/signup"><strong>Sign up</strong></a></aside>
    <aside><span>Forgot password? </span><a href="/user/resetPW"><strong>Reset</strong></a></aside>
  </div>
</main>


 {{!-- <div>12345</div> --}}