<main class="form-wrap container-fluid">
        <h2 class='title_reset'>Reset Password</h2>
   
    {{> notification}}

    <form action="/user/resetPW" method="post" class="needs-validation" novalidate>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="form-row">
            <div class="form-group row">
                <label for="form_email">Email</label>
                <input type="email" name="email" class="form-control" id="form_email" placeholder="Email Address" value="{{user.email}}" required>  
                <div class="valid-feedback">
                  Good!
                </div>
                <div class="invalid-feedback">
                  Invalid email!
                </div>
            </div>
        </div>
        <div class="btn_group">
            <button class="btn_reset btn-primary btn-sm btn-rounded" type="submit">Submit</button>
        </div>  
    </form>
</main>



