{{#if warning}}
<section class="notification">
    <div>
        {{warning}}
    </div>
</section>
{{/if}}

{{#each errors}}
<section class="notification">
    <div>
        {{this.msg}}
    </div>
</section>
{{/each}}