
{{#if warning}}
<section class="notification alert alert-secondary" role="alert">
    <em>
        {{warning}}
    </em>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</section>
{{/if}}

{{#each errors}}
<section class="notification alert alert-secondary" role="alert">
    <em>
        {{this.msg}}
    </em>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</section>
{{/each}}

{{#if success}}
<section class="notification alert alert-secondary" role="alert">
    <em>
        {{success}}
    </em>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</section>
{{/if }}

{{#if refuse}}
<section class="notification alert alert-secondary" role="alert">
    <em>
        {{refuse}}
    </em>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</section>
{{/if}}
